<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Drinkki-arkisto</title>
        <meta charset="utf-8" />

    </head>

    <body>
        <div class="content">
            <h1>Drinkkiarkisto</h1>

        <ul>
            <li th:each="drink : ${drinks}">
                <a th:href="@{~/drinks/{id}(id=${drink.id})}">
                <span th:text="${drink.nimi}">Juomien nimet listana</span>
                </a>
            </li>
            
        </ul> 
        

        <p><a href="/drinks">Muokkaa juomia</a></p>
        <p><a href="/ingredients">Muokkaa saatavilla olevia ainesosia</a></p>
        </div>
        
    </body>
</html>